<a href="https://colab.research.google.com/github/Shivabairy005/Machine-Learning-Lab/blob/main/ML_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23rd July 2025

In [2]:
import pandas as pd

In [1]:
data = {'2014' : [100.5,150.8,200.9,30000,40000],
        '2015' : [12000,18000,22000,30000,45000],
        '2016' : [20000,50000,70000,100000,125000],
        '2017' : [50000,60000,70000,80000,90000]
}
indexes = ['Madhu','Kusum','Kinshuk','Ankit','Shruti']
Sales = pd.DataFrame(data,index = indexes) #Sales dataframe is created
print(Sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
print(Sales.index)
print(Sales.columns)

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Index(['2014', '2015', '2016', '2017'], dtype='object')

27th July 2025

In [ ]:
#data type of each column is displayed
print(Sales.dtypes)

2014    float64
2015      int64
2016      int64
2017      int64
dtype: object

In [ ]:
#Displaying shape, dimension, size, values
print(Sales.shape)
print(Sales.ndim)
print(Sales.size)
print(Sales.values)

(5, 4)
2
20
[[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [      nan 3.000e+04 3.000e+04 1.000e+05]
 [      nan 4.000e+04 4.500e+04 1.250e+05]]

In [ ]:
print(Sales.tail(2)) # displaying first two columns

        2014   2015   2016    2017
Ankit    NaN  30000  30000  100000
Shruti   NaN  40000  45000  125000

In [ ]:
print(Sales.head(2)) #displaying first two columns

        2014   2015   2016   2017
Madhu  100.5  12000  20000  50000
Kusum  150.8  18000  50000  60000

In [ ]:
new_data = {'2018' : [160000,110000,500000,340000,900000]}
Sales2 = pd.DataFrame(new_data, index = indexes) #Sales2 Dataframe is created

In [ ]:
print(Sales2) #checking Sales2 is empty or not

In [ ]:
#appending sales and sales2 df
Combined_Sales = pd.concat([Sales,Sales2], axis=1)
print(Combined_Sales)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [ ]:
Sales.transpose() #transposing a dataframe

        Madhu    Kusum  Kinshuk     Ankit    Shruti
2014    100.5    150.8    200.9   30000.0   40000.0
2015  12000.0  18000.0  22000.0   30000.0   45000.0
2016  20000.0  50000.0  70000.0  100000.0  125000.0
2017  50000.0  60000.0  70000.0   80000.0   90000.0

In [ ]:
print(Sales['2017']) # Sales made in 2017

Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64

In [ ]:
#Sales made by Madhu and Ankit in 2017 and 2018
print(Combined_Sales.loc[["Madhu",'Ankit'],["2017",'2018']])

        2017    2018
Madhu  50000  160000
Ankit  80000  340000

In [ ]:
print(Sales.loc[['Shruti'],['2016']]) #Sales made by Shruti in 2016

          2016
Shruti  125000

In [ ]:
#adding a new salesman Sumeet
Combined_Sales.loc["Sumeet"] = [196.2, 37800, 52000, 78438, 38852]
print(Combined_Sales)

            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0  125000.0  90000.0  900000.0
Sumeet     196.2  37800.0   52000.0  78438.0   38852.0

In [ ]:
Sales.drop(['2014'], axis=1, inplace=True) #Dropping 2014 row from sales
print(Sales)

          2015    2016   2017
Madhu    12000   20000  50000
Kusum    18000   50000  60000
Kinshuk  22000   70000  70000
Ankit    30000  100000  80000
Shruti   45000  125000  90000

In [ ]:
Sales.drop(['Kinshuk'], axis=0, inplace=True) #Dropping Kinshuk from sales
print(Sales)

         2015    2016   2017
Madhu   12000   20000  50000
Kusum   18000   50000  60000
Ankit   30000  100000  80000
Shruti  45000  125000  90000

In [ ]:
#Renaming the index name
Sales.rename(index = {'Ankit' : 'Vivaan',
                      'Madhu' : 'Shailesh'}, inplace=True )
print(Sales)

           2015    2016   2017
Shailesh  12000   20000  50000
Kusum     18000   50000  60000
Vivaan    30000  100000  80000
Shruti    45000  125000  90000

In [ ]:
#Displaying Shailesh sales in 2018
Sales.loc[['Shailesh'],['2018']] = 100000
print(Sales)

           2015    2016   2017      2018
Shailesh  12000   20000  50000  100000.0
Kusum     18000   50000  60000       NaN
Vivaan    30000  100000  80000       NaN
Shruti    45000  125000  90000       NaN

In [ ]:
#Exporting data into csv file
Sales.to_csv("SalesFigures.csv", index=False, header=False)

In [ ]:
#Reading a csv file and upadting the row and column
SalesRetrieved = pd.read_csv("SalesFigures.csv", header=None)
SalesRetrieved.columns = Sales.columns
SalesRetrieved.index = Sales.index
print(SalesRetrieved)

           2015    2016   2017      2018
Shailesh  12000   20000  50000  100000.0
Kusum     18000   50000  60000       NaN
Vivaan    30000  100000  80000       NaN
Shruti    45000  125000  90000       NaN

28th July 20205

In [7]:
#Creating as listed in pandas exercise 2 13 question
data = [["TV" , "LG" , "12000" , "700"], ["TV" , "VIDEOCON" , "10000" , "650"],["TV" , "LG" , "15000" , "800"],["AC" , "SONY" , "14000" , "750"]]
ind = ["Item" , 'Company' , 'Rupees', 'USD']

df = pd.DataFrame(data, columns=  ind)

print(df)

  Item   Company Rupees  USD
0   TV        LG  12000  700
1   TV  VIDEOCON  10000  650
2   TV        LG  15000  800
3   AC      SONY  14000  750

In [8]:
#Adding new rows to the dataframe
df.loc[len(df)] = ["WATCH", 'GSHOCK', '7000', '450']
df.loc[len(df)] = ["LAPTOP", 'HP', '50000', '1200']
df.loc[len(df)] = ['AIRPODS', 'APPLE', '12000', '399']

In [9]:
print(df)

      Item   Company Rupees   USD
0       TV        LG  12000   700
1       TV  VIDEOCON  10000   650
2       TV        LG  15000   800
3       AC      SONY  14000   750
4    WATCH    GSHOCK   7000   450
5   LAPTOP        HP  50000  1200
6  AIRPODS     APPLE  12000   399

In [10]:
#Finding maximum price of lg tv
max_lg = df.loc[(df['Company'] == 'LG') & (df['Item'] == 'TV')]['Rupees'].max()
print(max_lg)

15000

In [14]:
#Displaying sum of all product
print(df['Rupees'].sum())
print(df['USD'].sum())

120000
4949

In [15]:
#Displaying the median of USD of Sony products
med_sony = df.loc[(df['Company'] == 'SONY')]['USD'].median()
print(med_sony)

750.0

In [16]:
#sorting the rupees
sorted_df = df.sort_values(by='Rupees')
print(sorted_df)

      Item   Company  Rupees   USD
4    WATCH    GSHOCK    7000   450
1       TV  VIDEOCON   10000   650
6  AIRPODS     APPLE   12000   399
0       TV        LG   12000   700
3       AC      SONY   14000   750
2       TV        LG   15000   800
5   LAPTOP        HP   50000  1200